/.github/
NOTES.md

/vendor/
node_modules/
npm-debug.log
yarn-error.log

storage/*.key
.env
/.venv
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/public/hot
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
*.pdf
*.doc
*.docx
*.ps1

#
boost.json
.vscode/

# Ignorar artefactos de microservicios y empaquetados Python
/microservicios/**/build/
/microservicios/**/dist/
/microservicios/**/__pycache__/
/microservicios/**/*.spec
/microservicios/**/*.spec/
/microservicios/**/warn-*.txt
/microservicios/**/localpycs/
/microservicios/**/base_library.zip

# Ignorar ejecutables y paquetes generados
/microservicios/**/PYZ-*.pyz
/microservicios/**/PKG-*.toc
/microservicios/**/EXE-*.toc
